target/
*.class
*.log

.idea/
*.iml
.vscode/

database/*.db
database/*.sqlite
database/*.sqlite3

output/charts/*.png

!data/.gitkeep
!database/.gitkeep
!output/.gitkeep
!output/charts/.gitkeep
!screenshots/.gitkeep
